h1{
margin-top: 100px;
font-family: brown;
font-style: Bold;
font-size: 64px;
line-height: 94px;
text-align: Center;
}

h2{
margin-left: 320px;
margin-right: 320px;
margin-top: -80px;
font-family: brown;
font-style: thin;
font-size: 24px;
line-height: 30px;
text-align: center;
}

p{
margin-left: 35px;
margin-right: 35px;
margin-top: -5px;
font-family: brown;
font-style: thin;
font-size: 14px;
line-height: 30px;
text-align: left;
}

.link1{
font-family: brown;
font-style: regular;
font-size: 24px;
line-height: 60px;
text-align: Center;
height:145px;
width:380px;
background: #D3D3D3;
position: absolute;
top:380px;
left:100px;
border-radius: 15px;
}

.link2{
font-family: brown;
font-style: regular;
font-size: 24px;
line-height: 60px;
text-align: Center;
height:145px;
width:380px;
background: #D3D3D3;
position: absolute;
top:530px;
left:100px;
border-radius: 15px;
}

.link3{
font-family: brown;
font-style: regular;
font-size: 24px;
line-height: 60px;
text-align: Center;
height:145px;
width:380px;
background: #D3D3D3;
position: absolute;
top:680px;
left:100px;
border-radius: 15px;
}

.link4{
font-family: brown;
font-style: regular;
font-size: 24px;
line-height: 60px;
text-align: Center;
height:145px;
width:380px;
background: #D3D3D3;
position: absolute;
top:830px;
left:100px;
border-radius: 15px;
}